
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


@-webkit-keyframes color-change-usd {
    0% {
      background: #e19ea6;
    }
    100% {
      background: #df8f99;
    }
  }
  @keyframes color-change-usd {
    0% {
      background: #e19ea6;
    }
    100% {
      background: #df8f99;
    }
  }

  @-webkit-keyframes color-change-eur {
    0% {
      background: #8ca3d4;
    }
    100% {
      background: #7b96ce;
    }
  }
  @keyframes color-change-eur {
    0% {
      background: #8ca3d4;
    }
    100% {
      background: #7b96ce;
    }
  }
  
  
  
.header-wrapper{
    padding: 8px 12px;
    background-color: #eee;
}

.tile-item{
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    font-family:'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 24px;

    
}

.tile-item:nth-child(1){
    background-image: url('../images/logo.png');
}

.tile-item:nth-child(3){
    background-image: url('../images/flags/uah.svg');
    
}

.tile-item:nth-child(4){
    -webkit-animation: color-change-usd 2s linear infinite alternate both;
	        animation: color-change-usd 2s linear infinite alternate both;

            .data_cur{
                color: #eee;
                -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
    
}

.tile-item:nth-child(5){
    background-image: url('../images/flags/uah.svg');
}

.tile-item:nth-child(6){
    -webkit-animation: color-change-eur 2s linear infinite alternate both;
	        animation: color-change-eur 2s linear infinite alternate both;
    .data_cur{
        color: #eee;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
}

.tile-item:nth-child(7){
    background-image: url('../images/flags/usd.svg');
}

.tile-item:nth-child(8){
    background-image: url('../images/flags/eur.svg');
}