.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48vh;
    .input-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.cur-1-input{
    border: none !important;
}

.mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}


.cur-input input::-webkit-inner-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.cur-select-field .mat-mdc-text-field-wrapper{
    border-radius: 0px !important;
}

mat-select-trigger{
    display: flex;
}


@media screen and (max-width: 768px) {
    .input-container{
        height: 82%;
        flex-direction: column;
    } 

    .swap-button{
        margin: 18px;
        transform: rotate(90deg);
    }
  }


