<div class="input-container">
    <div class="left-input input-wrapper">
        <mat-form-field class="cur-1-input">
            <mat-label>Enter some input</mat-label>
            <input matInput #input maxlength="10">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="right-input input-wrapper">
        <mat-form-field class="cur-2-input">
            <mat-label>Enter some input</mat-label>
            <input matInput #input maxlength="10" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>